{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome</h1>
        <p>Your Symfony app is running.</p>
        <p><a href="{{ path('app_dashboard') }}">Go to Dashboard</a></p>
    </div>
{% endblock %}


